<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
    <!--    <style>-->
    <!--        select {-->
    <!--            border: none;-->
    <!--        }-->
    <!--    </style>-->
</head>
{#background-color:#333333;margin:0 auto;#}
<body style="width:1880px;">
<h2 style="text-align:center;">FlaskBI</h2>
<form action="" method=get>
    <div>
        <label for="testselect"></label><select name="" id="testselect" onchange=freshChart()>
        <option selected value="43">苹果</option>
        <option value="83">葡萄</option>
        <option value="83">香蕉</option>
        <!-- {% for i  in select_box %}
                <option value="" id="idselect" name="adsense">{{ i.zone_name }}</option>
                {% endfor %} -->
    </select>
        <!-- <button type="submit"  id="submit_data" >查询</button> -->
    </div>
</form>


<!--使用div放置图表位置-->
<div id="pie" style="position:absolute;left:400px;top:100px;width:500px; height:400px;"></div>
<div id="gauge" style="position:absolute;left:400px;top:400px;width:500px; height:400px;"></div>
<div id="bars" style="position:absolute;right:10px;top:200px;width:500px; height:400px;"></div>
<div id="stackline" style="position:absolute;right:10px;top:600px;width:500px; height:400px;"></div>
<div id="wordcnt" style="position:absolute;left:600px;top:600px;width:500px; height:400px;"></div>

<div id="table" style="position:absolute;right:100px;top:600px;width:500px; height:400px;"></div>
<div id="text" style="border-width: 3px ; width: 350px; height: 100px ; padding:10px;
     border-style:solid;border-color:#444444;text-align: left;border-radius: 5px;">
    <span style="color: rgb(3, 255, 255);font-size:4mm; ">最新WARNING： </span>
    <span id="textvalue" style="color: rgb(45, 255, 255);font-size: 5mm; "></span>

</div>
<script>
    $(function () {
        freshChart();
    })
</script>

<script>
    function static_num() {
        let list = document.querySelectorAll('input'), vals = [];
        list.forEach(item => {
            if ($(item).prop('checked')) {
                vals.push($(item).val())
            }
        })
        return vals
    }

    function echartDraw(divid, ehartsTheme, drawUrl) {
        let chart = echarts.init(document.getElementById(divid), ehartsTheme, {renderer: 'canvas'});
        let values = document.getElementById("testselect").value
        let check_val = static_num()

        $.ajax({
            type: "POST",
            url: drawUrl,
            data: {"value": values, "select2": check_val},
            dataType: 'json',
            traditional: true,
            success: function (result) {
                console.log(divid);
                chart.setOption(result);
            }
        });
        return chart

    }

    function TableDraw(divid, drawUrl) {
        let values = document.getElementById("testselect").value
        $.ajax({
            type: "POST",
            url: drawUrl,
            data: {"value": values,},
            dataType: 'json',
            traditional: true,
            success: function (result) {
                {#console.log(result)#}
                document.querySelector("#" + divid).innerHTML = result.data;
            }
        });
    }

    function TextDraw(divid, drawUrl) {
        document.querySelector("#" + divid).innerHTML = drawUrl;
    }

    function freshChart() {
        echartDraw('gauge', 'black', "http://127.0.0.1:5000/gaugeChart")
        echartDraw('pie', 'black', "http://127.0.0.1:5000/pieChart")
        echartDraw('stackline', 'black', "http://127.0.0.1:5000/stackline")
        echartDraw('wordcnt', 'white', "http://127.0.0.1:5000/wordcnt")

        TableDraw('table', "http://127.0.0.1:5000/table")
        echartDraw('bars', 'black', "http://127.0.0.1:5000/barChart")
        TextDraw('textvalue', '2021-07-23 15:32:32')
    }
</script>


</body>

</html>