<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <!--    <style>-->
    <!--        select {-->
    <!--            border: none;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
<h2 align="center">FlaskBI</h2>
<form action="" method=get>
    <div>
        <select name="" id="testselect" onchange=freshChart()>
            <option selected value="43">苹果</option>
            <option value="83">葡萄</option>
            <option value="83">香蕉</option>
            <!-- {% for i  in select_box %}
                <option value="" id="idselect" name="adsense">{{ i.zone_name }}</option>
                {% endfor %} -->
        </select>
        <!-- <button type="submit"  id="submit_data" >查询</button> -->
    </div>
</form>


<!--使用div放置图表位置-->
<div id="pie" style="position:absolute;left:40%;top:400px;width:500px; height:400px;"></div>
<div id="gauge" style="position:absolute;left:10%;top:400px;width:500px; height:400px;"></div>
<div id="bars" style="position:absolute;right:100px;top:200px;width:500px; height:400px;"></div>
<div id="table" style="position:absolute;right:100px;top:600px;width:500px; height:400px;"></div>

<script>
    $(function () {
        freshChart();
    })
</script>

<script>
    function static_num() {
        let list = document.querySelectorAll('input'), vals = [];
        list.forEach(item => {
            if ($(item).prop('checked')) {
                vals.push($(item).val())
            }
        })
        return vals
    }

    function echartDraw(divid, ehartsTheme, drawUrl) {
        let chart = echarts.init(document.getElementById(divid), ehartsTheme, {renderer: 'canvas'});
        let values = document.getElementById("testselect").value
        let check_val = static_num()

        $.ajax({
            type: "POST",
            url: drawUrl,
            data: {"value": values, "select2": check_val},
            dataType: 'json',
            traditional: true,
            success: function (result) {
                chart.setOption(result);
            }
        });
        return chart

    }

    function TableDraw(divid, drawUrl) {
        let values = document.getElementById("testselect").value
        console.log("kaitou");
        $.ajax({
            type: "POST",
            url: drawUrl,
            data: {"value": values,},
            dataType: 'json',
            traditional: true,
            success: function (result) {

                document.querySelector("#" + divid).innerHTML = result.data;
            },
            error: result => {
                let box = document.querySelector("#" + divid)
                box.innerHTML = result.responseText;
            }
        });
    }

    function freshChart() {
        echartDraw('gauge', 'white', "http://127.0.0.1:5000/gaugeChart")
        echartDraw('pie', 'white', "http://127.0.0.1:5000/pieChart")
        TableDraw('table', "http://127.0.0.1:5000/table")

        echartDraw('bars', 'white', "http://127.0.0.1:5000/barChart")
    }
</script>


</body>

</html>